* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-color {
  background-color: #292a2e;
}

.logo {
  font-family: "Carter One", cursive;
  font-size: xx-large;
}

.contact-hover p {
  transition: color 0.1s linear;
}

.contact-hover p:hover {
  color: #ed6335;
}

@media (max-width: 576px) {
  .payment img {
    width: 100%;
  }
  
  .contact-hover {
    width: 130px;
  }
}