* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .services {
    padding-top: 110px;
  }

  .services h2 {
    font-size: x-large;
    font-weight: 550;
  }
  
  .services-list {
    width: 300px;
  }