.cart-delete {
  cursor: pointer;
}

.cart-delete span:hover {
  color: red;
  transition: all .30s ease;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 576px) {
  .cart-image {
    width: 120px;
    transform: translateX(85px);
  }

  .cart-details {
    width: 100%;
  }

  .cart-quantity {
    padding-top: 10px;
  }

  .cart-item-price {
    margin-top: 10px;
    text-align: center;
  }

  .cart-delete {
    transform: translateY(-60px);
  }

  .cart-line {
    margin: 0 !important;
  }
}
