* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.categories h1 {
  margin-top: 50px;
}

.categories .col {
  text-align: center;
  cursor: pointer;
}

.categories img {
  max-width: 200px;
  height: 200px;
}

.categories p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: larger;
  margin-top: 15px;
  transition: color 0.2s linear;
}

.categories .col:hover p {
  color: #ed6335;
}

@media (max-width: 992px) {
  .categories h1 {
    margin-top: 100px;
  }

  .categories img {
    max-width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .categories h1 {
    margin-top: 70px;
  }

  .categories img {
    max-width: 240px;
    height: 240px;
  }
}

@media (max-width: 576px) {
  .categories h1 {
    margin-top: 100px;
  }

  .categories img {
    max-width: 82px;
    height: 82px;
  }

  .categories p {
    font-size: medium;
    margin-top: 5px;
  }
}

@media (max-width: 350px) {
  .categories h1 {
    margin-top: 100px;
  }
}
